.newMessage.message {
    border-left:solid red 5px;
}
.message {
    border:solid black 1px;
    margin: 5px 5px 0px 3px;
    padding-left: 10px; 
    border-radius: 3px;
}
.message:hover {
    background: #ddd;
    cursor: pointer;
}
.unreadMeassage{
    font-weight: bolder;
}
.toblock {
    display: inline;
}